body {
    background-image: url("background image.jpeg");
    opacity: %;
}
*{
    text-decoration: none;
}
.navbar{
    background:rgb(132, 129, 129);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    color: aliceblue;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    height: px;

}
li{
    list-style: none;
    display: inline-block;

}
li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}
.moddagudu{
    width: 202px;
    height: 120px;
}
.homeimage{
    width: 500px;
    height: auto;
}

