body {
    background-image: url("background image.jpeg");
    margin: 0%;
}
*{
    text-decoration: none;
}
.navbar {
    background: black;
    font-size: 1em;
    color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

li a {
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.moddagudu{
    width: 202px;
    height: 120px;
}
.homeimage{
    width: 500px;
    height: auto;
}
