body {
  background: url(https://img.freepik.com/free-vector/watercolor-background-pastel-colors_79603-794.jpg);

}


.content{
  
  padding: 20px;
  margin-right: 800px;
  font-size: 40px;
  margin-top: 60px;
  margin-left: 30px;


}

.pic1 img{
  position: absolute;
  top: 10%;
  right: 6%;
  width: 580px;
  height: 720px;
  border-color:whitesmoke;
  border-width: 2px;
  border-style: solid;

  

}
.quote p{
 
  width: 800px;
  height: 100px;
  font-style: italic;
  margin-top: 60px;
  margin-left: 140px;
  text-shadow: 3px 3px palevioletred;
  font-size: 40px;
  


}
.hello{
  font-size: 30px;
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 10px;
  
}
.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 40px;
  justify-content:space-evenly;

  
}
.gallery img{
  width: 520px;
  height: 540px;
  border: 2px solid #ff3d0036;
  border-radius: 12px ;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin-top: 160px;
  transition: 400ms;



   
}
.gallery img:hover{
  filter: grayscale(1);
  transform: scale(1.03);



}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 30px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

}

.logo {
  width: 100px;
}

.logo img {
  height: 200px; 
  width: auto;
  padding-top: 20px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li a {
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}
