body {
    margin: 0px;
    background-image: url("background image.jpeg");
}
.main {
    position: relative;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expl p{
    position: absolute;
    width: 800px;
    height: 200px;
    font-style: italic;
    top: 25%;
    left: 25%;
    font-size: 40px;
    
}
.pun {
    position: absolute;
    top: 4.1%;
    right: 2.5%;
    width: 650px;
    height: 480px;
    box-shadow: 2px 2px 4px black;
    border: 5px solid white;
    overflow: hidden;
    text-align: end;
    border-radius: 10%;
}

.pun img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    top: 2%;
    left: 5%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    height: 300px;
    width: 500px;
    font-size: 20px;
}
.text h1{
    padding-bottom: 25px;
}
.text p{
    line-height: 30px;
}

.aftex{
    position: absolute;
    width: 750px;
    height: 400px;
    border-radius: 2%;
    border: 2px solid black;
    top: 35%;
    left: 15%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
    
}
.aftex1{
    position: absolute;
    width: 550px;
    height: 650px;
    border-radius: 2%;
    border: 2px solid black;
    top: 49%;
    left: 2%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.aftex2{
    position: absolute;
    width: 550px;
    height: 650px;
    border-radius: 2%;
    border: 2px solid black;
    top: 40%;
    left: 62%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.aftex3{
    position: absolute;
    width: 600px;
    height: 450px;
    border-radius: 2%;
    border: 2px solid black;
    top: 50%;
    left: 36%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.aftex4{
    position: absolute;
    width: 600px;
    height: 700px;
    border-radius: 2%;
    border: 2px solid black;
    top: 65%;
    left: 58%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.aftex5{
    position: absolute;
    width: 800px;
    height: 550px;
    border-radius: 2%;
    border: 2px solid black;
    top: 72%;
    left: 6%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.main2 {
    position: relative;
}

.main2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.pagetext3{
    position: absolute;
    top: 10%;
    left: 5%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    height: 300px;
    width: 500px;
    font-size: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.afteA{
    position: absolute;
    width: 650px;
    height: 400px;
    border-radius: 2%;
    border: 2px solid black;
    top: 4%;
    right: 5%;
}
.prewed{
    position: absolute;
    width: 650px;
    height: 400px;
    border-radius: 2%;
    border: 2px solid black;
    top: 21%;
    left: 5%;
}
.prewedtext{
    position: absolute;
    top: 26%;
    right: 8%;
    font-weight: bold;
    height: 300px;
    width: 500px;
    font-size: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.mehandi{
    position: absolute;
    width: 650px;
    height: 400px;
    border-radius: 2%;
    border: 2px solid black;
    top: 38%;
    right: 5%;
}
.mehanditext{
    position: absolute;
    top: 45%;
    left: 8%;
    font-weight: bold;
    height: 300px;
    width: 500px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.sangeeth{
    position: absolute;
    width: 650px;
    height: 400px;
    border-radius: 2%;
    border: 2px solid black;
    top: 55%;
    left: 5%;
}
.sangeethtext{
    position: absolute;
    top: 60%;
    right: 5%;
    font-weight: bold;
    height: 300px;
    width: 500px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.mainwed{
    position: absolute;
    top: 71%;
    right: 30%;
    font-size: 26px;
    height: 350px;
    width: 600px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.mar1{
    position: absolute;
    bottom: 2%;
    left: 2%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar2{
    position: absolute;
    bottom: 2%;
    left: 35%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar3{
    position: absolute;
    bottom: 2%;
    right: 2%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
@keyframes appears {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
.main3{
    position: relative;
}
.main3 img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    overflow: hidden;
}
.mar4{
    position: absolute;
    top: 0;
    left: 2%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar5{
    position: absolute;
    top: 0;
    left: 35%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar6{
    position: absolute;
    top: 0;
    right: 2%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar7{
    position: absolute;
    top: 23%;
    left: 2%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar8{
    position: absolute;
    top: 23%;
    left: 35%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar9{
    position: absolute;
    top: 23%;
    right: 2%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar10{
    position: absolute;
    top: 46%;
    left: 2%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar11{
    position: absolute;
    top: 46%;
    left: 35%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.mar12{
    position: absolute;
    top: 46%;
    right: 2%;
    height: 550px;
    width: 450px;
    border-radius: 2%;
    border: 2px solid black;
    animation: appears 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
.finaltext{
    position: absolute;
    top: 70%;
    right: 26%;
    font-size: 20px;
    height: 500px;
    width: 750px;
}
.logo{
    position: absolute;
    width: 320px;
    height: 160px;
    top: 67%;
    right: 42%;
}
.checkour{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 1%;
    left: 5%;
    margin: 20px 0 0 0;
}
.checkour img{
    bottom: 1%;
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    border: 2px solid black;
    transition: all ease-in-out 1s;
}
.checkour img:hover {
    width: 70%;
}
.button:hover{
    background-color: bisque;
}
